:root {
  --color-primary: #ff7b54;
  --color-text-on-primary: #fff;
  --color-text-on-secondary: #000;

  --color-button-border: var(--color-text-on-primary);

  --color-button-primary-bg: var(--color-text-on-primary);
  --color-button-primary-text: var(--color-primary);

  --color-button-secondary-bg: var(--color-primary);
  --color-button-secondary-text: var(--color-text-on-primary);

  --font-family: "Inter-bold", sans-serif;
  --font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_28pt-Regular.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter_18pt-Bold.ttf);
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav cart";
  align-items: center;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
}

header img {
  grid-area: cart;
}

.nav {
  font-family: Inter;
  display: inline-block;
  font-size: 20px;
}

.nav__list {
  display: flex;
  list-style: none;
  justify-self: end;
}

.nav__list-item {
  margin-inline-end: 36px;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-primary);
}

.body--primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.body--secondary {
  background-color: var(--color-text-on-primary);
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.main {
  padding: 0 150px;
}

.button {
  font-size: 32px;
  padding: 0 64px;
  height: 100px;
  border: 4px var(--color-button-border) solid;
  cursor: pointer;
  transition: outline 0.1s linear;
}

.button:hover,
.button:focus {
  outline: 2px solid var(--color-text-on-primary);
}

.button--primary {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.button--secondary {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}

.button-container {
  display: flex;
  margin-top: 100px;
}

.button:not(button:last-of-type) {
  margin-inline-end: 20px;
}

.button__icon {
  vertical-align: middle;
}

.menu {
  display: none;
}

.close {
  display: none;
}

.menu,
.close {
  cursor: pointer;
}

@media (max-width: 840px) {
  .body--primary .close path {
    fill: var(--color-text-on-primary); /* Blanco */
  }

  .body--secondary .close path {
    fill: var(--color-primary); /* Naranja */
  }

  .menu {
    display: block;
  }

  .menu--hide {
    display: none;
  }

  .close--show {
    display: block;
  }

  .body--primary .nav {
    background-color: var(--color-primary);
  }

  .body--secondary .nav {
    background-color: var(--color-text-on-primary);
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--color-primary);
    top: 60px;
    left: -130%;
    padding-left: 60px;
    transition: left 0.2s linear;
  }

  .nav--visible {
    left: 0%;
  }

  .nav__list {
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 0px;
    width: 100%;
    height: 80%;
  }

  .nav__list-item {
    font-size: 60px;
    font-family: Inter-Bold;
    margin-inline-end: 0;
  }

  .header {
    display: grid;
    grid-template-columns: 33px 1fr 34px;
    justify-items: center;
  }
}

@media (max-width: 1220px) {
  .button {
    font-size: 24px;
    padding: 0 32px;
    height: 70px;
  }

  .button img {
    width: 20px;
  }
}

@media (max-width: 815px) {
  .main {
    padding: 75px;
  }
}

@media (max-width: 700px) {
  .button {
    font-size: 16px;
    margin-top: 24px;
  }

  .button-container {
    flex-direction: column;
    margin-top: 24px;
    align-items: stretch;
  }

  .button--secondary {
    width: 96%;
  }
}

.body--no-scroll {
  overflow: hidden;
}
