@import "/styles/base.css";

.home .main__heading {
  font-size: 128px;
  padding-top: 80px;
  font-weight: bold;
}

.home .main__sub-heading {
  font-size: 40px;
  font-family: Inter;
}

.menu path {
  fill: var(--color-text-on-primary);
}

.home {
  fill: var(--color-text-on-primary);
}

@media (max-width: 1220px) {
  .home .main__heading {
    font-size: 70px;
  }
}

@media (max-width: 590px) {
  .home .main__heading {
    font-size: 30px;
  }

  .home .main__sub-heading {
    font-size: 24px;
  }

  .home .main__sub-heading {
    margin-top: 16px;
    font-size: 18px;
  }
}
